@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

.donate-main {
    width: 100%;
    font-family: 'Platypi', sans-serif; /* Ensure correct font is specified */
    margin-top: 150px;
}

.donate-body {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.donate-center {
    text-align: center;
}

.donate-body img {
    width: 20vw;
}
