@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

.history-main {
    width: 100%;
    font-family: 'Platypi', sans-serif; /* Ensure the font name is correctly specified */
}

.history-body {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    margin-top: 150px;
}

.history-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.history-section {
    padding: 10px;
    text-align: center;
}

.history-button {
    width: 15vw;
    height: 6vh;
    padding: 10px;
    border: none;
    background-color: #4B3F72;
    color: white;
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Platypi'; /* Make sure to check the correct font name */
    font-size: 1.2vw;
    margin-right: 10px; /* Space between buttons */
}

.history-button:hover {
    background-color: #DAA520;
    color: black;
}

/* Remove margin on the last button */
.history-button:last-child {
    margin-right: 0;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #4B3F72;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.scroll-to-top:hover {
    background-color: #DAA520;
}



