@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

.main {
    width: 100%;
    font-family: platypi;
    margin-top: 90px;
}
.main img {
    width: 100%;
}
.body {
    padding-left: 10%;
    padding-right: 10%;
}
.body h2 {
    font-size: 4.5vw;
}
.body p {
    font-size: 1.3vw;
}
.memberInfo {
    display: flex;       
    justify-content: space-around; 
    align-items: flex-start; 
    padding: 20px;    
    display: flex;
    flex-direction: row;
}
.stack {
    display: flex;
    flex-direction: column;
}
.memberInfo a {
    color: white;
    font-size: 1.2vw;

}

.memberInfo hr {
    width: 100%;
}

.memberInfo > div {
    flex: 1;           
    margin: 10px; 
    height: 40vw;      
    padding: 20px;      
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    background: #fff;  
    border-radius: 8px; 
    background-color: #4B3F72;
    color: white;
}
.body h3 {
    font-size: 1.5vw;
}



