@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

.sticky-header {
  font-size: 35px;
  font-family: Platypi;
  position: fixed; /* Keeps the nav bar fixed at the top */
  top: 0; /* Aligns the nav bar at the very top of the viewport */
  width: 100%; /* Ensures the nav bar spans the full width of the viewport */
  background: #4B3F72; /* Background color of the nav bar */
  z-index: 1000; /* Keeps the nav bar on top of other page elements */
  height: 90px; /* Fixed height of the nav bar */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Shadow effect for some depth */
  border-color: #FFD700; /* Border color */
  border-width: 5px; /* Border width */
}

.nav-menu {
  display: flex;
  background: #4B3F72;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  margin: 0;
}

.nav-item {
  font-family: Platypi;
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  transition: color 0.7s ease, transform 0.7s ease;
  display: inline-block;
}

.nav-item:hover {
  color: #FFD700;
  transform: scale(1.1);
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.chiPsiImage {
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 100%;
}

.chiPsiImage:hover {
  background-color: #FFD700;
  color: #FFD700; /* This doesn't apply since images don't have text color */
  transform: scale(1.1);
  box-shadow: 0px 0px 8px rgba(255, 215, 0, 0.7);
  cursor: pointer;
  border-radius: 100%;
}

