@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

.programs-main {
    width: 100%;
    font-family: 'Platypi', sans-serif;
    margin-top: 150px;
    font-size: 1.3vw;
}

.programs-body {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.programs-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.programs-section {
    padding: 10px;
    text-align: center;
}

.programs-flexContainer {
    display: flex;
    flex-direction: row;
}

.programs-buttonContainer {
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px; 
    width: 50%; 
}

.programs-roundedButton {
    width: auto; 
    min-width: 150px; 
    height: auto;
    padding: 10px 20px;
    border: none;
    background-color: #4B3F72;
    color: white;
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Platypi', sans-serif;
    font-size: 1.2vw;
    text-decoration: none;
}

.programs-roundedButton:hover {
    background-color: #DAA520;
    color: black;
}

.programs-contentContainer {
    padding-top: 10px;
    padding-left: 40px;
    width: 80%;
    float: right;
    display: flex;            
    flex-direction: column;   
}
.programs-contentContainer h3 {
    text-align: center;
}
.programs-contentContainer p {
    text-align: center;
}
.programs-contentContainer img {
    width: 60%;
}
.programs-roundedButton2 img {
    width: 5%;
}
.programs-roundedButton2 {
    display: flex;           
    align-items: center;      
    justify-content: center;  
    text-align: left;         
    gap: 10px; 
    width: auto;
    min-width: 150px; 
    height: auto;
    padding: 10px 20px;
    border: solid;
    border-width: 2px;
    background-color: white;
    color: black;
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Platypi', sans-serif;
    font-size: 1.2vw;
    text-decoration: none;  
               
}

