@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

.programs-main {
    width: 100%;
    font-family: 'Platypi', sans-serif;
    margin-top: 150px;
}

.programs-body {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.programs-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.programs-section {
    padding: 10px;
    text-align: center;
}

.programs-flexContainer {
    display: flex;
    flex-direction: row;
}

.programs-buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the buttons */
    gap: 10px; /* Add space between buttons */
    margin-top: 20px; /* Spacing above the button group */
    width: 100%; /* Adjusted for full width within the flex container */
}

.programs-roundedButton {
    width: auto; /* Adjusted for content fit */
    min-width: 150px; /* Minimum width for better alignment */
    height: auto;
    padding: 10px 20px;
    border: none;
    background-color: #4B3F72;
    color: white;
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Platypi', sans-serif;
    font-size: 1.2vw;
}

.programs-roundedButton:hover {
    background-color: #DAA520;
    color: black;
}

.programs-contentContainer {
    padding-top: 10px;
    padding-left: 40px;
    width: 80%;
    float: right;
}

.programs-contentContainer h3 {
    text-align: center;
}

.programs-contentContainer p {
    text-align: center;
}

.programs-contentContainer img {
    width: 60%;
}